<!--
  ~ Copyright 2022 Manuel Wrage. Use of this source code is governed by the Apache 2.0 license.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ivianuu.essentials.accessibility">

    <application>
        <service
            android:name=".EsAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="true">

            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/es_accessibility_service_config" />
        </service>
    </application>

</manifest>