<manifest package="com.ivianuu.essentials.processrestart"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".ProcessRestartActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|screenLayout"
            android:theme="@style/Theme.Es.Translucent"
            android:process=":restartprocess"/>
    </application>
</manifest>