<!--
  ~ Copyright 2022 Manuel Wrage. Use of this source code is governed by the Apache 2.0 license.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ivianuu.essentials.processrestart">

    <application>
        <activity
            android:name=".ProcessRestartActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|screenLayout"
            android:process=":restartprocess"
            android:theme="@style/Theme.Es.Translucent" />
    </application>
</manifest>