<manifest package="com.ivianuu.essentials.foreground"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application>

        <service
            android:name="com.ivianuu.essentials.foreground.ForegroundService"
            android:process="@string/es_foreground_service_process" />

        <receiver
            android:name=".InterProcessForegroundStartReceiver"
            android:process="@string/es_foreground_service_process">
            <intent-filter>
                <action android:name="com.ivianuu.essentials.foreground.INTER_PROCESS_START_FOREGROUND" />
                <action android:name="com.ivianuu.essentials.foreground.INTER_PROCESS_STOP_FOREGROUND" />
            </intent-filter>
        </receiver>

    </application>

</manifest>