<!--
  ~ Copyright 2022 Manuel Wrage. Use of this source code is governed by the Apache 2.0 license.
  -->
<manifest package="com.ivianuu.essentials.android"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:appComponentFactory="com.ivianuu.essentials.app.EsAppComponentFactory"
        tools:replace="android:appComponentFactory">

        <activity
            android:name="com.ivianuu.essentials.app.EsActivity"
            android:configChanges="colorMode|density|fontScale|keyboard|keyboardHidden|layoutDirection|locale|mcc|mnc
            |navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"
            android:exported="true"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.ivianuu.essentials.util.UnlockActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|screenLayout"
            android:theme="@style/Theme.Es.Translucent"
            android:exported="true" />

        <receiver
            android:name="com.ivianuu.essentials.util.RemoteActionReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="execute_remote_action" />
            </intent-filter>
        </receiver>

        <provider
            android:name="com.ivianuu.essentials.backup.BackupFileProvider"
            android:authorities="${applicationId}.backupprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/backup_paths" />
        </provider>
    </application>
</manifest>
