<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ivianuu.essentials.unlock">

    <application>
        <activity
            android:name="com.ivianuu.essentials.unlock.UnlockScreenActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|screenLayout"
            android:theme="@style/Theme.Es.Translucent" />
    </application>
</manifest>